{erl_opts, [debug_info]}.
{deps, [
{sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

%% {project_plugins, [rebar3_ex_doc]}.

{shell, [
  %% {config, "config/sys.config"}, % Uncomment and set if you need custom shell config
  {apps, [scribbles]}
]}.
{ex_doc, [
  {extras, ["README.md", "LICENSE.md"]},
  {main, "README"},
  {source_url, "https://github.com/sebp/scribbles"}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
