{erl_opts, [debug_info]}.
{deps, [
  {markdown, {git, "https://github.com/ferd/erlmarkdown.git", {branch, "blockquote-hacks"}}},
    {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

%% {project_plugins, [rebar3_ex_doc]}.

{shell, [
  %% {config, "config/sys.config"}, % Uncomment and set if you need custom shell config
  {apps, [scribbles]}
]}.
{ex_doc, [
  {extras, ["README.md", "LICENSE.md"]},
  {main, "README"},
  {source_url, "https://github.com/sebp/scribbles"}
]}.